<!DOCTYPE html>
<html>
<head>
  <title>Cryptown</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
  <meta charset="UTF-8">
  <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
  <meta http-equiv="X-Frame-Options" content="deny" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.3/milligram.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/mainFrame.css"/>
  <link rel="stylesheet" type="text/css" href="css/navigation.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css" />
  <script src="js/app.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
</head>
<body ng-app="todo" ng-controller="TodoCtrl">
<div id="top-block"><a href="login">{{ LoginStatus }}</a></div> 
<div id="logo-block">&nbsp;<img src="img/favicon.ico" height="20" width="20"/>&nbsp;{{ tempLogoString }}</div>
<todo-navigation></todo-navigation>
<div id="body-content" class="container">
  <!--<h1>Todo List</h1>-->
  <todo-title></todo-title>
  <!--{{ todo }}-->
  <!--<h3>{{ todo.title }}</h3>-->
  <!--<input type="text" ng-model="todo.title">-->
  <!--<input type="checkbox" ng-model="todo.completed">-->
  <!--<p>{{ todo.completed }}</p>-->
  
  <!--<date>{{ todo.createdAt }}</date>-->
  <!--<input type="text" ng-model="todo.createdAt">-->
  
  <!--<p> ------------------------------ </p>-->
  
  <!--<div ng-repeat="todo in todos">-->
  <!--    <input type="text" ng-model="todo.title">-->
  <!--    <input type="checkbox" ng-model="todo.completed">-->
  <!--    <date>{{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss' }}</date>-->
  <!--</div>-->

  <!--<p> ------------------------------ </p>  -->
  
  <!--<form name="todoForm" ng-submit="add(newTodoTitle)">-->
  <!--  <div class="input-group">-->
  <!--    <input type="text" class="form-control" ng-model="newTodoTitle" placeholder="새로운 투두를 입력하세요." autofocus minlength="3">-->
  <!--    <span class="input-group-btn">-->
  <!--      <button class="btn btn-success" type="submit">추가</button>  -->
  <!--    </span>-->
  <!--  </div>-->
  <!--  <div ng-show="todoForm.$dirty && todoForm.$invalid">-->
  <!--      <div class="alert alert-warning" role="alert">3글자 이상 입력하세요.</div>-->
  <!--  </div>-->
  <!--</form>-->
  <todo-form></todo-form>
  
  <!--<pre>{{ todoForm | json }}</pre>-->
  
  <ul class="list-unstyled">
       <li ng-repeat="todo in todos | filter:statusFilter">
          <!--<div class="input-group">-->
          <!--  <span class="input-group-addon">-->
          <!--    <input type="checkbox" ng-model="todo.completed">-->
          <!--  </span>-->
          <!--  <input type="text" class="form-control" ng-model="todo.title">-->
          <!--  <span class="input-group-btn">-->
          <!--   <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>-->
          <!--  </span>-->
          <!--</div>-->
          <!--<date>{{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss' }}</date>-->
          <todo-item></todo-item>
       </li>
  </ul>
  
  <!--<button class="btn btn-primary" ng-click="statusFilter={completed:true}">Completed</button>-->
  <!--<button class="btn btn-primary" ng-click="statusFilter={completed:false}">Active</button> -->
  <!--<button class="btn btn-primary" ng-click="statusFilter={}">All</button>-->
  <todo-filters></todo-filters>
</div>
</body>
</html>
