<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script data-require="angularjs@1.5.7" data-semver="1.5.7" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">
    <div class="container">
      <h1>TODO LIST</h1>
      
      <form name="todoForm" ng-submit="add(newTodoTitle)">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newTodoTitle" placeholder="새로운 투두를 입력하세요." minlength="3">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">추가</button>  
          </span>
        </div>
        <div ng-show="todoForm.$dirty && todoForm.$invalid">
          <div class="alert alert-warning" role="alert">3글자 이상 입력하세요.</div>
        </div>
      </form>
      
      <!--<pre>{{todoForm | json}}</pre>-->
      
      <ul class="list-unstyled">
         <li ng-repeat="todo in todos | filter:statusFilter">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" ng-model="todo.completed">
              </span>
              <input type="text" class="form-control" ng-model="todo.title">
              <span class="input-group-btn">
               <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
              </span>
            </div>
            <date>{{ todo.createdAt | date : 'yyyy-MM-dd HH:mm:ss' }}</date>
         </li>
      </ul>
      
      <button class="btn btn-primary" ng-click="statusFilter={completed:true}">Completed</button>
      <button class="btn btn-primary" ng-click="statusFilter={completed:false}">Active</button> 
      <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
    </div>  
  </body>

</html>