body {
      position:relative;
      margin-left:0px;
      margin-right:0px;
      top:0px;
      overflow:hidden;
}
#top-block {
              position:absolute;
              top:0px;
              right:0px;
              z-index:10000;
              width:100%;
              height:50px;
              font-size:11pt;
              text-align: right;
              margin:0px;
              padding:5px;
              border-style:solid;
              border-width:0px;
              background-color:#bbbbbb;
}
#logo-block {
              position:relative;
              top:50px;
              left:0px;
              z-index:100;
              width:100%;
              height:70px;
              font-size:24pt;
              text-align: left;
              /*margin-left:-1px;*/
              margin: auto;
              padding:0px;
              border-style:solid;
              border-width:0px;
              background-color:#ffffff;
}
#body-menu {
            position:relative;
            top:0px;
            left:0px;
            z-index:9999;
            width:100%;
            height:32px;
            border-style:solid;
            border-width:0px;
            background-color:#7fb8ff;
}
#body-content {
               position:relative;
               top:1px;
               left:0px;
               width:100%;
               height:100%;
               z-index:1;
               border-style:solid;
               border-width:0px;
               text-align: center;
  
}
