<form name="loginForm" ng-submit="login(loginInfo)">
   <div id="login-box" class="login-box">
        <h2>로그인</h2><br>
        <!--<input type="text" class="form-control" ng-model="loginInfo.username" placeholder="Email Address" autofocus minlength="4">-->
        <input type="text" class="form-control" ng-model="loginInfo.username" placeholder="LOGIN ID" autofocus>
        <br>
        <input type="password" class="form-control" ng-model="loginInfo.password" placeholder="PASSWORD" autofocus>
        <br>
        <button class="btn btn-success" type="submit">로그인</button>
        <button class="btn btn-primary" onclick=location.href="Logup">회원가입</button>
   </div>
   <!--<div id="login-alert-box" ng-show="loginForm.$dirty && loginForm.$invalid" >-->
   <!--   <div class="alert alert-warning" role="alert">3글자 이상 입력하세요.</div>-->
   <!--</div>-->
</form>