<form name="loginForm" ng-submit="login(loginInfo)">
    <div id="login-box" class="login-box">
        <h2>로그인</h2><br>
        <input type="text" class="form-control" ng-model="loginInfo.username" placeholder="Email Address" autofocus minlength="9">
        <br>
        <input type="password" class="form-control" ng-model="loginInfo.password" placeholder="PASSWORD" autofocus minlength="9">
        <br>
        <button class="btn btn-success" type="submit">로그인</button>
        &nbsp;
        <button class="btn btn-success">회원가입</button> 
   </div>
   <div id="login-alert-box" ng-show="loginForm.$dirty && loginForm.$invalid" >
      <div class="alert alert-warning" role="alert">9글자 이상 입력하세요.</div>
   </div>
</form>